.divisor {
    position: relative;
}

.main-div{
    background-color: rgb(234,243,252) ;
    min-height: 84vh;
    min-width:  98%;
}

.nav-link{
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: rgb(47, 52, 121) !important;
    font-weight: bold !important;
}
.nav-link.active{
    border-bottom: 3px solid rgb(47, 52, 121)!important;

}

.edit-submit-button{
    background-color: rgb(47, 52, 121);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;;
    cursor: pointer;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    width: 50%;
    padding: 1%;
}

.view{
    border: 0;
    color: rgb(0, 0, 255);
}

.log-entry {
    margin-bottom: 10px;
  }

  .log-type {
    color: #333;
    font-size: 1.25rem;
  }

  .log-detail {
    color: #555;
    margin-left: 20px;
    font-size: 1rem;
  }
